html{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("CalanderBa.jpg");
}

*{
  box-sizing: border-box;
  user-select: none;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* border: 1px solid blue; */
}

.wrapper{
  width: 300%;
  /* border: 1px solid green; */
  display: flex;
  height: 85%;
  transform: translateX(-33.25%);
  transition: 1s;
}

.home{
  width: 33.25%;
  /* background-color: black; */
  background:linear-gradient(#3559E0, #0F2167);
}

.greet{
  margin: 50px auto;
  /* border: 1px solid black; */
  text-align: center;
  color: white;
}

.stocks{
  margin: auto;
  width: 80%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
}
.stocks h2{
  text-align: center;
  width: 100%;
}

.amzn, .google, .apple, .McrSft{
  margin-top: 20px;
  width: 40%;
  height: 60px;
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.amzStock{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.gStock{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.AStock{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.MStock{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.mainCalander{
  width: 33.25%;
  background:linear-gradient(#3559E0, #0F2167);
  color: white;
  /* border: 1px solid red; */
}

.graphs{
  display: flex;
  width: 33.25%;
  background:linear-gradient(#3559E0, #0F2167);
  /* border: 1px solid black; */
}

.graph{
  width: 100%;
  /* border: 1px solid black; */
  /* flex-grow: 1; */
}

.month-year{
  margin: 100px auto 20px auto;
  width: 80%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  font-size: 1.4rem;
}
.monthYear{
  width: 50%;
}

.fa-caret-right, .fa-caret-left{
  font-size: 1.5rem;
}

.calander{
  margin: auto;
  width: 80%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.days{
  width: 125%;
  position: relative;
  left: -12.5%;
  padding-left: 12.5%;
  padding-right: 12.5%;
  display: flex;
  font-size: 1.2rem;
  /* border: 1px solid white; */
  background-color: rgba(255, 255, 255, 0.3);
}

.eachday{
  width: 100%;
  /* outline: 1px solid black; */
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dates{
  display: flex;
  flex-wrap: wrap;
}

.dateBox{
  width: 14.285%;
  aspect-ratio: 1;
  padding-top: 0.5rem;
  /* outline: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.dateBox:hover{
  background-color: rgba(5, 250, 225, .7);
  border-radius: 50%;
}
.current-date{
  background-color: rgba(5, 250, 225, .5);
  border-radius: 50%;
}
.eachDateEmoji{
  color: grey;
  font-size: 1rem;
  cursor: pointer;
}

.mood{
  padding-bottom: 20px;
  margin: 10px auto;
  width: 320px;
  /* border: 2px solid green; */
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.4rem;
  position: absolute;
  top: 23%;
  left: 16.75%;
  transform: translateX(-50%);
  background-color: #4266ea;
  scale: 0;
}
.emojis{
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  font-size: 1.5rem;
}
#dayText{
  width: 80%;
  height: 60px;
  resize: none;
  outline: none;
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 15px;
}
#moodSetButton{
  margin-top: 20px;
  border-radius: 5px;
  /* border: 1px solid white; */
  background-color: #081857;
  color: white;
  font-size: 1.4rem;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
}

.bottom{
  height: 10%;
  /* border: 1px solid rgb(2, 56, 22); */
  /* border-top:1px solid #4CB9E7; */
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  background-color: rgba(15, 33, 102, 0.9);
  border-radius: 0 0 20px 20px;
}

.fa-calendar-days, .fa-house, .fa-chart-simple{
  font-size: 1.6rem;
  position: relative;
  top: -5%;
  /* border: 1px solid black; */
  border-radius: 50%;
}

.fa-calendar-days{
  padding: 16px 16px;
  color: white;
}
.fa-house{
  font-size: 2rem;
  padding: 12px 9px;
  top: -35%;
  background-color: #4CB9E7;
  box-shadow: 2px 5px rgb(58, 85, 90);
  color: white;
}
.fa-chart-simple{
  padding: 16px 16px;
  color: white;
}






/* ----------------------------cat Css -------------*/

.cat-whole{
  /* border: 2px solid black; */
  width:100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  color:white;
}
/* .cat-whole-sign-up h1{
   padding-left: 2rem;  
} */
.cat{
  position: relative;
  height: 80px;
  width: 102.1px;
}

.ear {
  position: absolute;
  top: -30%;
  height: 60%;
  width: 25%;
  background: #efefef;
}
.ear::before, .ear::after {
  content: "";
  position: absolute;
  bottom: 24%;
  height: 10%;
  width: 5%;
  border-radius: 50%;
  background: #161616;
}
.ear::after {
  transform-origin: 50% 100%;
}

.ear--left {
  left: -7%;
  border-radius: 70% 30% 0% 0%/100% 100% 0% 0%;
  transform: rotate(-15deg);
}
.ear--left::before, .ear--left::after {
  right: 10%;
}
.ear--left::after {
  transform: rotate(-45deg);
}

.ear--right {
  right: -7%;
  border-radius: 30% 70% 0% 0%/100% 100% 0% 0%;
  transform: rotate(15deg);
}
.ear--right::before, .ear--right::after {
  left: 10%;
}
.ear--right::after {
  transform: rotate(45deg);
}

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0F2167;
  border-radius: 50%;
}

.eye {
  position: absolute;
  top: 35%;
  height: 30%;
  width: 31%;
  background: #fff;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
}
.eye::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-radius: 0 0 50% 50%/0 0 40% 40%;
  background: #0F2167;
  -webkit-animation: blink 4s infinite ease-in;
          animation: blink 4s infinite ease-in;
}
@-webkit-keyframes blink {
  0% {
    height: 0;
  }
  90% {
    height: 0;
  }
  92.5% {
    height: 100%;
  }
  95% {
    height: 0;
  }
  97.5% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
@keyframes blink {
  0% {
    height: 0;
  }
  90% {
    height: 0;
  }
  92.5% {
    height: 100%;
  }
  95% {
    height: 0;
  }
  97.5% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
.eye::before {
  content: "";
  position: absolute;
  top: 60%;
  height: 10%;
  width: 15%;
  background: #fff;
  border-radius: 50%;
}

.eye--left {
  left: 0;
}
.eye--left::before {
  right: -5%;
}

.eye--right {
  right: 0;
}
.eye--right::before {
  left: -5%;
}

.eye-pupil {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 20%;
  background: #0F2167;
  border-radius: 50%;
  -webkit-animation: look-around 4s infinite;
          animation: look-around 4s infinite;
}
@-webkit-keyframes look-around {
  0% {
    transform: translate(0);
  }
  5% {
    transform: translate(50%, -25%);
  }
  10% {
    transform: translate(50%, -25%);
  }
  15% {
    transform: translate(-100%, -25%);
  }
  20% {
    transform: translate(-100%, -25%);
  }
  25% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes look-around {
  0% {
    transform: translate(0);
  }
  5% {
    transform: translate(50%, -25%);
  }
  10% {
    transform: translate(50%, -25%);
  }
  15% {
    transform: translate(-100%, -25%);
  }
  20% {
    transform: translate(-100%, -25%);
  }
  25% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.eye--left .eye-pupil {
  right: 30%;
}
.eye--right .eye-pupil {
  left: 30%;
}
.eye-pupil::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -5%;
  height: 20%;
  width: 35%;
  border-radius: 50%;
  background: #fff;
}

.muzzle {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 6%;
  width: 10%;
  background: #fff;
  transform: translateX(-50%);
  border-radius: 50% 50% 50% 50%/30% 30% 70% 70%;
}

@media screen and (min-width:1079px) {
  html{
      background-image: url("CalanderBa.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }
  body{
      width: 25%;
      margin:75px auto;
      border-radius: 20px;
      height: 80vh;
  }
}